<div style="position: relative; float: right; padding-bottom: 50px; display: inline;">
  <input
    style="margin-top: 10px; width: 155px;"
    [(ngModel)]="searchString"
    placeholder="{{ 'Filter' | transloco }} 🔎"
  />
  <br /><br />
  <button
    style="min-width: 1%; border-style: dotted; width: 160px; height: 20px; border-width: 1px;"
    class="mat-small"
    (click)="fullReportButton('(All)')"
    mat-button
  >
    {{ 'All' | transloco }}
  </button>
</div>

<div style="padding-top: 20px;">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

    <!-- Parent nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: isParentNode"
      matTreeNodePadding
      [style.display]="!shouldShowNode(node) ? 'none' : ''"
      matTreeNodeToggle
      [cdkTreeNodeTypeaheadLabel]="node.item"
      style="max-height: 100px; overflow: hidden; text-overflow: ellipsis; width: 100%; font-size: 12px;"
    >
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.item">
        <mat-icon>
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <span
        [ngStyle]="{
          'color': node.item === current_active ? 'purple' : 'black',
          'font-weight': node.item === current_active ? 'bold' : 'normal'
        }"
      >
        {{ node.item }}
      </span>
      <mat-progress-bar *ngIf="node.isLoading()" mode="indeterminate"></mat-progress-bar>
    </mat-tree-node>

    <!-- Leaf nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: noChild"
      matTreeNodePadding
      [style.display]="!shouldShowNode(node) ? 'none' : ''"
    >
      {{ node.item }}
    </mat-tree-node>

    <!-- Card nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: isCardNode"
      matTreeNodePadding
      [style.display]="!shouldShowNode(node) ? 'none' : ''"
    >

          <button mat-button class="mat-small"
          style="
          border-width: 1px; font-size: 12px; border-style: solid; width: 150px; 
          height: 35px; margin-left: 50px; display: flex;  justify-content: flex-start;
          align-items: center; 
          margin-bottom: 10px;     
          gap: 8px;                    
          text-align: left;" (click)="fullReportButton(node.item.replace('__CARD__', ''))"> <mat-icon> dashboard </mat-icon> FULL REPORT 
          </button>
          
    </mat-tree-node>

  </mat-tree>
</div>
