.handsontable .odd{
  background: red !important;
  color: red !important;
}
  
  .handsontable .even{
  background: red !important;
  color: red !important;
}

.mat-mdc-menu-item span{
  font-size: 40px !important;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;           /* Firefox */
  -ms-overflow-style: none;        /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                   /* Chrome, Safari, Opera */
}