
<div>
<h2 style="padding:20px;"> 
  <div style="float: left">
  <img style="max-width: 100%; height:30px; position: absolute;" src="assets/logo.png" alt="image">
  <div style="position: relative; left:35px"> {{ 'Title' | transloco }} </div>
  </div>
  <div style="float:right; align-items: center;">
    <div style="float:right; position: relative;">
      <button mat-button (click)="switchLanguage('en')" [disabled]="getLanguage()=='en'"> English </button>
      |
      <button mat-button (click)="switchLanguage('fr')" [disabled]="getLanguage()=='fr'"> Français </button>
    </div>
    <div  style="clear:both;">
      <button (click)="openAboutDialog()" style="min-width: 1%;" class="mat-small" mat-button> {{ 'About' | transloco }} </button>
      | 
      <button style="min-width: 1%;" class="mat-small" mat-button> {{ 'TermsofConditions' | transloco }} </button>
      |
      <button style="min-width: 1%;" class="mat-small" mat-button> {{ 'FAQ' | transloco }} </button>
    </div>
  </div>
</h2>
</div>

<app-posts (messageEvent)="getData($event)" [collectionSelected]="selectedCollection_Activate" [collectionSelectedName]="selectedCollection_Current_Name" [startDate]="date_start_activate" [endDate]="date_end_activate" [start_on]="start_on"></app-posts>

<div style="
  padding:60px;
  top:10px; 
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.2cm;
  ">

<!--
<div style="float: left;">
<form [formGroup]="searchForm" style="">
<mat-form-field appearance="outline" style="margin-left: 10px; width:400px;">
  <mat-label >Collection</mat-label>
    <input #input panelWidth="400px" 
    type="text"
    placeholder=""
           matInput
           type="text"
           placeholder="(All)"
           formControlName= "searchGroup"
           required
           [matAutocomplete]="autoGroup"
           (input)="filter()"
           (focus)="filter()">
           <mat-autocomplete #autoGroup="matAutocomplete">
            @for (group of searchGroupOptions | async; track group) {
              <mat-optgroup [label]="group.letter">
                @for (name of group.names; track name) {
                  <mat-option [value]="name">{{name}}</mat-option>
                }
              </mat-optgroup>
            }
        </mat-autocomplete>
</mat-form-field>
</form>
</div>
-->


<div style="float: left;">
<mat-form-field appearance="outline" style="margin-left: 10px;"> 
  <mat-label>{{ 'StartDate' | transloco }}</mat-label>
  <input matInput *ngIf="!start_on" disabled> 
  <input matInput *ngIf="start_on"[matDatepicker]="dp_s" [formControl]="date_start" [min]="minDate" [max]="todayDate"> 
  <mat-datepicker-toggle *ngIf="start_on" matIconSuffix [for]="dp_s"> </mat-datepicker-toggle>
  <mat-datepicker #dp_s 
                  startView="multi-year"
                  (monthSelected)="setStartMonthAndYear($event, dp_s)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>

<mat-checkbox matTooltip="Generates metrics from creation, visual displays last 24 months" [ngModel]="!start_on" (ngModelChange)="start_on = !$event" style="margin-left: 10px; "> {{ 'AllTime' | transloco }} </mat-checkbox>

<mat-form-field appearance="outline"style="margin-left: 10px;"> 
  <mat-label>{{ 'EndDate' | transloco }}</mat-label>
  <input matInput [matDatepicker]="dp_e" [formControl]="date_end" [min]="minDate" [max]="todayDate">
  <mat-datepicker-toggle matIconSuffix [for]="dp_e"></mat-datepicker-toggle>
  <mat-datepicker #dp_e
                  startView="multi-year"
                  (monthSelected)="setEndMonthAndYear($event, dp_e)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>

  <button (click)="CollectionDataButtonActivate()" mat-button extended style="margin-left: 10px;"> {{ 'Submit' | transloco }} </button>
</div>

</div>

<div *ngIf="bad_range==true"> <h4 style="color:red; text-align: center;"> Invalid Date Range </h4> </div>

<div style="clear:both;">
  <app-download #download [data]="raw_table_data" [name]="selectedOption"></app-download>
    <ng-template [ngIf]="true">

      <div class="title-container">
        <div *ngIf="selectedCollection_Activate==='(All)'" id="pdf_name">
          <h1 id="responsive-title"  class="responsive-title">{{ 'All' | transloco }}</h1>
        </div>
        <div *ngIf="selectedCollection_Activate!='(All)'" id="pdf_name">
          <h1 id="responsive-title" class="responsive-title">{{ selectedCollection_Activate_Name }}</h1>
        </div>
        <div id="pdf_date"><p><i>{{ date_String }}</i></p></div>
      </div>

      <div style="margin: auto;
      width: 95%; 
      display: flex;">

      <div style="vertical-align:top; margin-top: 0px; margin-left: -10px;">
        
        <div id="main_meteris">        

          <mat-card class="example-card hide-scrollbar" appearance="outlined" style="min-width: 350px; max-width: 350px; margin-bottom: 50px; margin-left: 5px; margin-top: 10px; max-height: 3350px;
  overflow-y: auto; font-size: 12px;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title> {{ 'DataverseTree' | transloco }} </mat-card-title>
                <mat-card-subtitle> </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <app-tree [data]="raw_table_data" [current_active]="selectedCollection_Activate_Name" (dataEvent)="getCollectionFromTree($event)"> </app-tree>
            </mat-card-content>
          </mat-card>

          </div>

          <!---       
          <div id="hot" style="margin-left: 10px; margin-top: 10px; ">
          <app-generic-table
          [data]="table_data"
          [colHeaders]="true"
          [colWidths]="[335]"
          [rowHeaders]="true"
          [height]="1500"
          [columnSorting]="true"
          [columns]="generic_columns"
          [dropdownMenu]="[]"
          [filters]="false"
          licenseKey="non-commercial-and-evaluation"> 
          </app-generic-table>
          </div>
          -->   

      </div> 
      
            
      <div style="display: inline-block; height:200px; padding: 30px; padding-top: 20px; font-size: 18px;">
            <div id="pdf_bargraphs">
            <div class="graph-title"> {{ 'NumberofDownloads' | transloco }} </div> 
            <app-horizontal-bar-graph class="graph-section" [barChartData]= "barChartDataDownloads"></app-horizontal-bar-graph>   
            <div class="graph-title" style="padding-top: 20px"> {{ 'NumberofDatasets' | transloco }} </div>
            <app-horizontal-bar-graph class="graph-section" [barChartData]= "barChartDataDatasets"></app-horizontal-bar-graph> 
            <div class="graph-title" style="padding-top: 20px"> {{ 'NumberofFiles' | transloco }} </div>
            <app-horizontal-bar-graph class="graph-section" [barChartData]= "barChartDataFiles"></app-horizontal-bar-graph>
            <div class="graph-title" style="padding-top: 20px"> {{ 'Numberofusers' | transloco }}</div>
            <app-horizontal-bar-graph class="graph-section" [barChartData]= "barChartDataUsers"></app-horizontal-bar-graph>
            <div class="graph-title" style="padding-top: 20px"> {{ 'StorageUsage' | transloco }} </div>
            <app-horizontal-bar-graph class="graph-section" [barChartData]= "barChartDataSize"></app-horizontal-bar-graph>
            </div>

            <p style="padding-top: 20px" id="subjectGraphTitle"> {{ 'SubjectBreakdown' | transloco }} </p>
            <div style="border:1px solid lightgray;" class="hide-scrollbar">
            <mat-card class="example-card" appearance="outlined" style="min-width: 750px; max-width: 750px; min-height: 333px; max-height: 300px;
            justify-content: center;">
              <button mat-button extended
              (click)="download.generateSubject()"
              style="position: absolute;
                height: 28px;
                width: 12px;
                top: 4px;
                right: 4px;
                font-size: 12px;
                border-style: dotted; 
                border-width: 1px;">
                  <mat-icon style="
                  font-size: 16px;
                  height: 16px;
                  width: 12px;
                  display: block;
                  line-height: 1;
                  margin-left: 10px;
              ">download</mat-icon>
              </button>
              <mat-card-content id="subjectGraph">
                <app-pie-graph [pieChartLabels]= "pieChartLabelsSubject" [pieChartData]= "pieChartDataSubject" width=520 height=200></app-pie-graph>
              </mat-card-content>
            </mat-card>

            <div id="hot" style="" class="hide-scrollbar">
              <app-generic-table class="hide-scrollbar"
              [data]="subject_table"
              [colHeaders]="true"
              [colWidths]="[400, 200, 150]"
              [rowHeaders]="false"
              [height]="250"       
              [columnSorting]="true"
              [columns]="subject_columns"
              [filters]="false" 
              licenseKey="non-commercial-and-evaluation"> 
              </app-generic-table>
            </div>
           </div>

           <div style="margin-top: 20px;" class="hide-scrollbar"></div>
           <p id="fileGraphTitle"> {{ 'FileContentBreakdown' | transloco }} <p>
            <div style="margin-top: 5px; border:1px solid lightgray;" class="hide-scrollbar">
              <mat-card class="example-card" appearance="outlined" style="min-width: 750px; max-width: 750px; min-height: 333px; max-height: 300px;
                justify-content: center;">
                <button mat-button extended
                (click)="download.generateFile()"
                style="position: absolute;
                height: 28px;
                width: 12px;
                top: 4px;
                right: 4px;
                font-size: 12px;
                border-style: dotted; 
                border-width: 1px;">
                  <mat-icon style="
                  font-size: 16px;
                  height: 16px;
                  width: 12px;
                  display: block;
                  line-height: 1;
                  margin-left: 10px;
                ">download</mat-icon>
                </button>
                <mat-card-content id="fileGraph">
                  <app-pie-graph [pieChartLabels]= "pieChartLabelsFile" [pieChartData]= "pieChartDataFile" width=380 height=200></app-pie-graph>
                </mat-card-content>
              </mat-card>
    
              <div id="hot" style="" class="hide-scrollbar">
                <app-generic-table class="hide-scrollbar"
                [data]="file_content_table"
                [colHeaders]="true"
                [colWidths]="[100, 400, 150, 100]"
                [rowHeaders]="false"
                [height]="250"
                [columnSorting]="true"
                [columns]="file_content_columns"
                [filters]="false"
                licenseKey="non-commercial-and-evaluation"> 
                </app-generic-table>
              </div>
            </div>
                              
          </div>
          
          <div style="display: inline-block; height:200px; padding-top: 10px; font-size: 18px;">

            <div class="button-grid" style="display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px; /* space between buttons */
            max-width: 400px;">
              <button mat-button class="mat-small" style="border-width: 1px; font-size: 12px; border-style: solid; width: 122px; height: 25px;  display: flex;  justify-content: flex-start;
              align-items: center;      
              gap: 8px;                    
              text-align: left;" (click)="download.generateExcel()"> <mat-icon> download </mat-icon> {{ 'Excel' | transloco }} </button>
              <button mat-button class="mat-small" style="border-width: 1px; font-size: 12px; border-style: solid; width: 122px; height: 25px; display: flex;  justify-content: flex-start;
              align-items: center;      
              gap: 8px;                    
              text-align: left;" (click)="download.generatePDF()"> <mat-icon> download </mat-icon> {{ 'PDF' | transloco }} </button>
              <a mat-button class="mat-small" style="border-width: 1px; font-size: 12px; border-style: solid; width: 122px; height: 25px; display: flex;  justify-content: flex-start;
              align-items: center;      
              gap: 8px;                    
              text-align: left;" href="https://borealisdata.ca/metricsbackend/api/metrics/report"> <mat-icon> download </mat-icon> {{ 'Legacy' | transloco }} </a>
              <button mat-button [disabled]="true" class="mat-small" style="border-width: 1px; font-size: 12px; border-style: solid; width: 122px; height: 25px; display: flex;  justify-content: flex-start;
              align-items: center;      
              gap: 8px;                    
              text-align: left;"> <mat-icon> download </mat-icon> DataCite </button>
            </div>

            <!-- 
            <div style="margin-bottom: 8px;">        
              <button mat-button [matMenuTriggerFor]="menu" style="width: 250px; height: 30px; border-style: dotted; border-width: 1px;"> <mat-icon> download </mat-icon> {{ 'Export' | transloco }} </button>
              <mat-menu #menu="matMenu" #subMenu="matMenu" class="mat-small" panelClass="compact-menu" fxLayoutAlign="center center" style="width: 250px;">
                <button mat-menu-item style="width: 250px" (click)="download.generateExcel()"> {{ 'Excel' | transloco }} </button>
                <button mat-menu-item class="mat-small" (click)="download.generatePDF()" style="width: 250px;"> {{ 'PDF' | transloco }} </button>
                <a mat-menu-item class="mat-small" href="https://borealisdata.ca/metricsbackend/api/metrics/report" style="width: 250px;"> {{ 'Legacy' | transloco }} </a>
                <button mat-menu-item class="mat-small" style="width: 250px;"> {{ 'MakeDataCountMetrics' | transloco }} </button>
              </mat-menu>
            </div>
            -->

            <mat-card class="example-card" appearance="outlined" style="min-width: 250px; max-width: 250px; margin-bottom: 8px; margin-top: 10px; background-color: white !important;
            box-shadow: none !important;" id="pdf_collections_num">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title> <div *ngIf="selectedCollection_Activate=='(All)'"> {{ 'Collections' | transloco }} </div> 
                    <div *ngIf="selectedCollection_Activate!='(All)'"> {{ 'Collections' | transloco }} </div> </mat-card-title>
                </mat-card-title-group>
              </mat-card-header>
              <mat-card-content>
                <h1 id="total_collections_num" style="text-align: right; color:black; font-size: 20px;"> <b>{{total_collections_num}}</b> </h1>
              </mat-card-content>
            </mat-card>
    
              <mat-card class="example-card" appearance="outlined" style="min-width: 250px; max-width: 250px;  margin-bottom: 8px; margin-top: 10px; background-color: white !important;
              box-shadow: none !important;" id="pdf_datasets_num">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title> {{ 'Datasets' | transloco }} </mat-card-title>
                    <mat-card-subtitle> </mat-card-subtitle>
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  <h1 id="total_datasets_num" style="text-align: right; color:black; font-size: 20px;"> <b>{{total_datasets_num}}</b> </h1>
                </mat-card-content>
              </mat-card>
    
              <mat-card class="example-card" appearance="outlined" style="min-width: 250px; max-width: 250px;  margin-bottom: 8px; margin-top: 10px; background-color: white !important;
              box-shadow: none !important;" id="pdf_files_num">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title> {{ 'Files' | transloco }} </mat-card-title>
                    <mat-card-subtitle> </mat-card-subtitle>
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  <h1 id="total_files_num"  style="text-align: right; color:black; font-size: 20px;"> <b>{{total_files_num}}</b> </h1>
                </mat-card-content>
              </mat-card>
    
              <mat-card class="example-card" appearance="outlined" style="min-width: 250px; max-width: 250px; margin-bottom: 8px; margin-top: 10px; background-color: white !important;
              box-shadow: none !important;" id="pdf_downloads_nums">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title> {{ 'Downloads' | transloco }} </mat-card-title>
                    <mat-card-subtitle> </mat-card-subtitle>
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  <h1 id="total_downloads_num"  style="text-align: right; color:black; font-size: 20px;"> <b>{{total_downloads_num}}</b> </h1>
                </mat-card-content>
              </mat-card>
    
              <mat-card class="example-card" appearance="outlined" style="min-width: 250px; max-width: 250px;  margin-bottom: 8px; margin-top: 10px; background-color: white !important;
              box-shadow: none !important;" id="pdf_users_nums">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title> {{ 'Users' | transloco }} </mat-card-title>
                    <mat-card-subtitle> </mat-card-subtitle>
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  <h1 id="total_users_num"  style="text-align: right; color:black; font-size: 20px;"> <b>{{total_users_num}}</b> </h1>
                </mat-card-content>
              </mat-card>
  
              <mat-card class="example-card" appearance="outlined" style="min-width: 250px; max-width: 250px; margin-bottom: 8px; margin-top: 10px; background-color: white !important;
              box-shadow: none !important;" id="pdf_storage_nums">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title> {{ 'StorageUsage' | transloco }} </mat-card-title>
                    <mat-card-subtitle> </mat-card-subtitle>
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  <h1 id="total_size_num"  style="text-align: right; color:black; font-size: 20px;"> <b>{{total_size_num}}</b> </h1>
                </mat-card-content>
              </mat-card>
              </div>
    
              <div>
          </div>

      </div>
            
      <div style="padding-top: 1200px; height: 1000px">
                
      </div>
    
    </ng-template>

<div>
