<app-posts (messageEvent)="getData($event)" [collectionSelected]="selectedCollection_Activate"></app-posts>

<h2 style="padding:20px;"> Borealis Metrics Report 
  <div style="float:right; align-items: center;">
    <div style="float:right;">
      <button mat-button disabled> English </button>
      |
      <button mat-button> Français </button>
    </div>
    <div  style="clear:both;">
      <button (click)="openAboutDialog()" style="min-width: 1%;" class="mat-small" mat-button> About </button>
      | 
      <button style="min-width: 1%;" class="mat-small" mat-button> Terms of Conditions </button>
      |
      <button style="min-width: 1%;" class="mat-small" mat-button> FAQ </button>
    </div>
  </div>
</h2>

<div style=" position: relative; top:35px; max-width: fit-content;
  margin-left: auto;
  margin-right: auto;">

<mat-form-field appearance="outline">
  <mat-label>Collection</mat-label>
  <mat-select (selectionChange)="selectedCollection($event)" name="food">
    @for (option of options; track option) {
      <mat-option [value]="option">{{option}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" style="padding: 10px;">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/YYYY – MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<button (click)="CollectionDataButtonActivate()" mat-button> <mat-icon style="transform: scale(2);"> sync</mat-icon> </button>
</div>


<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Overview"> 
    <ng-template matTabContent>

      <div style="margin: auto;
      width: 50%; 
      display: flex;">
      
      <div style="vertical-align:top; margin-top: 50px; margin-left: -60px;">
        <mat-card class="example-card" appearance="outlined" style="min-width: 400px; max-width: 400px; margin-bottom: 8px; margin-left: 10px; margin-top: 10px;">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title> <div *ngIf="selectedCollection_Activate=='(All)'"> Collections </div> 
                <div *ngIf="selectedCollection_Activate!='(All)'"> Dataverses </div> </mat-card-title>
              <mat-card-subtitle> </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <h1 style="text-align: right; color:DimGray;"> <b>{{total_collections_num}}</b> </h1>
          </mat-card-content>
        </mat-card>

          <mat-card class="example-card" appearance="outlined" style="min-width: 400px; max-width: 400px; margin-bottom: 8px; margin-left: 10px; margin-top: 10px;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title> Datasets </mat-card-title>
                <mat-card-subtitle> </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <h1 style="text-align: right; color:DimGray;"> <b>{{total_datasets_num}}</b> </h1>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card" appearance="outlined" style="min-width: 400px; max-width: 400px; margin-bottom: 8px; margin-left: 10px; margin-top: 10px;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title> Downloads </mat-card-title>
                <mat-card-subtitle> </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <h1 style="text-align: right; color:DimGray;"> <b>{{total_downloads_num}}</b> </h1>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card" appearance="outlined" style="min-width: 400px; max-width: 400px; margin-bottom: 8px; margin-left: 10px; margin-top: 10px;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title> Users </mat-card-title>
                <mat-card-subtitle> </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <h1 style="text-align: right; color:DimGray;"> <b>{{total_users_num}}</b> </h1>
            </mat-card-content>
          </mat-card>
          
          <div style="margin-left: 10px; margin-top: 10px;">
          <app-generic-table 
          [data]="table_data"
          [colHeaders]="true"
          [colWidths]="[350]"
          [rowHeaders]="true"
          [height]="780"
          [columnSorting]="true"
          [columns]="generic_columns"
          [dropdownMenu]="[]"
          [filters]="false"
          licenseKey="non-commercial-and-evaluation"> 
          </app-generic-table>
          </div>

      </div> 
            
      <div style="width:800px; display: inline-block; height:1500px; padding: 20px;">
            Number of Downloads
            <app-horizontal-bar-graph [barChartLabels]= "months" [barChartData]= "barChartDataDownloads"></app-horizontal-bar-graph>   
            Number of Datasets 
            <app-horizontal-bar-graph [barChartLabels]= "months" [barChartData]= "barChartDataDatasets"></app-horizontal-bar-graph> 
            Number of Files
            <app-horizontal-bar-graph [barChartLabels]= "months" [barChartData]= "barChartDataFiles"></app-horizontal-bar-graph>
            Number of Users
            <app-horizontal-bar-graph [barChartLabels]= "months" [barChartData]= "barChartDataUsers"></app-horizontal-bar-graph>
      </div>

      </div>

    </ng-template>
  </mat-tab>
  
  <mat-tab label="Content"> <ng-template matTabContent> 
    <div style="padding: 20px;"> Subject Breakdown </div>

    <div style="padding: 20px; overflow: hidden;">
    
    <div style="float:left; width: 550px">
      <app-generic-table 
      [data]="subject_table"
      [colHeaders]="true"
      [colWidths]="[300, 100, 100]"
      [rowHeaders]="true"
      [height]="400"
      width="100%"
      [columnSorting]="true"
      [columns]="subject_columns"
      [filters]="false"
      licenseKey="non-commercial-and-evaluation"> 
      </app-generic-table>
    </div>

    <div style="overflow: hidden;">
      <mat-card class="example-card" appearance="outlined" style="min-width: 400px; max-width: 650px; max-height: 400px; margin-bottom: 8px; margin-left: 10px; margin-top: 10px; align-items: center; 
      justify-content: center; padding: 20px;">
        <mat-card-content>
          <app-pie-graph [pieChartLabels]= "pieChartLabelsSubject" [pieChartData]= "pieChartDataSubject"></app-pie-graph>
        </mat-card-content>
      </mat-card>
    </div>

    </div>

    <div style="float: left;">
      <mat-card class="example-card" appearance="outlined" style="min-width: 400px; max-width: 650px; max-height: 500px; margin-bottom: 8px; margin-left: 10px; margin-top: 10px; align-items: center; 
      justify-content: center; padding: 20px;">
        <mat-card-content>
          <app-pie-graph [pieChartLabels]= "pieChartLabelsFile" [pieChartData]= "pieChartDataFile"></app-pie-graph> 
        </mat-card-content>
      </mat-card>
    </div>

  </ng-template> 
  </mat-tab>

  <mat-tab label="Storage"> <ng-template matTabContent>  

  </ng-template> 
  </mat-tab>

  <mat-tab [disabled]="selectedCollection_Activate == '(All)'" label="Datasets"> <ng-template matTabContent> 

    <div style="position:relative; width:1550px; display: inline-block; height:2000px; padding: 10px;">
      <app-data-table-dataset [item]="dataset_table_data"></app-data-table-dataset>
    </div>

  </ng-template> 
  
  </mat-tab>
  <mat-tab [disabled]="selectedCollection_Activate == '(All)'" label="Files"> <ng-template matTabContent>

    <div style="position:relative; width:1800px; display: inline-block; height:500px; padding: 20px;">
      <app-data-table-file [item]="file_table_data"></app-data-table-file>
    </div>

  </ng-template> 
  </mat-tab>
</mat-tab-group>
