/* You can add global styles to this file, and also import other style files */
@import 'handsontable/dist/handsontable.full.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.handsontable .th{
  background: red !important;
  color: red !important;
}
  
body .handsontable .even{
  background: red !important;
  color: red !important;
}

.handsontable td, .handsontable tr, .handsontable th {
  font-size: 10px;
  max-height: 10px !important;
  min-height: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.mat-mdc-menu-item span{
  font-size: 12px !important;
}

.compact-form-field {
  width: 125px !important;
  max-width: 125px !important;
}

/* Datepicker toggle icon size */
.small-datepicker-icon {
  font-size: 16px !important;
  height: 22px !important;
  width: 22px !important;
  line-height: 22px !important;
}

/* Datepicker toggle button */
::ng-deep .custom-toggle {
  border-radius: 4px;
  padding: 2px !important; /* smaller padding for tighter toggle */
}

/* Remove hover shadow and background */
::ng-deep .custom-toggle:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* Remove focus shadow/outline */
::ng-deep .custom-toggle.mat-focus-indicator:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.mat-mdc-form-field .mat-mdc-form-field-infix {
  font-size: 14px !important;
}

input.mat-mdc-input-element {
  font-size: 14px !important;
}
